.entrada {
    background-color: var(--cor-tres);
    min-width: 328px;
    height: 400px;
    margin: 0 1em 1em;
    border-radius: 0 0 8px 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login__campo {
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid #000;
    padding: 10px 8px;
    margin-bottom: 16px;
}

.login__campo::placeholder {
    color: #000;
}

input {
    border: none;
}

.entrada__botao {
    font-size: 12px;
    padding: 10px 8px;
    width: 100%;
    color: var(--cor-tres);
    border-radius: 4px;
    border: none;
}

#entrar-botao {
    background-color: var(--cor-dois);
    margin-block: 16px;
}

#cadastro-botao {
    background-color: var(--cor-um);
}

.container {
    width: 100%;
    max-width: 340px;
    
}

.cadastro {
    margin: 0 auto;
}

.login__rec {
    font-size: 12px;
    margin-bottom: 50px;
}

a {
    color: #000;
}

.ou {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 12px;
}

.ou::before,
.ou::after {
    width: 45%;
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: #000;
    display: block;
}

.ou::before {
    left: 0px;
}

.ou::after {
    right: 0px;
}